APP_ENV=production
GOOGLE_DRIVE_INVENTORY_MODE=oauth-user
GOOGLE_DRIVE_OAUTH_MODE=oauth-user
GOOGLE_DRIVE_OAUTH_CLIENT_ID=REEMPLAZAR_CLIENT_ID_DESKTOP.apps.googleusercontent.com
GOOGLE_DRIVE_INVENTORY_PRIMARY_EMAIL=REEMPLAZAR_CUENTA_PRINCIPAL
GOOGLE_DRIVE_OAUTH_REFRESH_TOKEN_SECRET=REEMPLAZAR_NOMBRE_SECRETO
GOOGLE_DRIVE_OAUTH_WRITER_SERVICE_ACCOUNT=REEMPLAZAR_IDENTIDAD_ESCRITORA_SECRET_MANAGER
GOOGLE_DRIVE_REPORT_SERVICE_ACCOUNT=REEMPLAZAR_IDENTIDAD_LECTORA_SECRET_MANAGER
